.app-container {
  min-height: 100vh;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.greet,
.route {
  display: inline-block;
}

.route {
  text-align: center;
}

.greet {
  text-align: right;
  margin-left: 46.8vw;
}

.playground {
  text-align: center;
}
